@import "var.css";
@import "reset.css";
@import "iconfont.css";

body {
	margin:0;
	padding: 0;
	font-size: var(--default-font-size);
	line-height: var(--default-line-height);
	color: var(--text-primary-color);
	background: var(--bg-color);
	word-break: break-all;
	font-family: system-ui;
}

img {
	object-fit: cover;
}

.layout {
	@apply --layout;
}

.box {
	@apply --box;
}

.disabled {
	pointer-events: none;
}

.image--responsive {
	position: relative;

	& > img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

/* .unshelved {
	position: relative;

	&::after {
		@apply --full;
		content: "";
		background: url(../assets/sold-out@2x.png) no-repeat right var(--layout-space) top 0.4rem color(white alpha(0.618));
		background-size: 2.25rem 1.83rem;
	}
} */



@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes down-10 {
	0% {
		transform: translate(0, -10%);
	}
	100% {
		transform: translate(0, 0);
	}
}

.icon {
	width: 1em;
    height: 1em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* contentSource */
.content {
	margin-top: 0.5rem;
	font-size: 0.52rem;
	line-height: 0.92rem;
	text-align: justify;
	& p + p {
		margin-top: 0.4rem;
	}

	& img {
		width: 100%; 
		height: 100%;
		display: block;
	}

}
video  {
	width: 100%;
	height: 100%;
}

/* 分享落地页 用浏览器打开 */
.open_app_fail_tips  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, 0.7);
}
.open_app_fail_tips .tips_main {
	position: absolute;
	right: 30px;
	top: .1rem;
	width: 8.73rem;
	height: 3.78rem;
	background: url(../assets/open_app_fail_tips.png) right top no-repeat;
	background-size: cover;
}

.btn-openapp {
	padding-top: 1.8rem;
}